@media (max-width: 600px) {
    .products-section {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        padding: 5px 15px;
    }
}